<%- include('../partials/head') -%>
<div class="container-form">
  <div class="heading">
    <h1>Login to Waaw Tube.</h1>
    <h3>Don't have an account? <a href="/auth/register">Register</a></h3>
  </div>

  <!-- <div class="social-login">
    <input type="button" value="sign up with facebook" />
    <input type="button" value="sign up with google" />
  </div>
  <div class="line">
    <div class="line-1"></div>
    <h3>Or</h3>
    <div class="line-2"></div>
  </div> -->
  <%- include('../partials/messages') -%>
  <form action="/auth/login" method="post">
    <label for="email">Email or Username</label>
    <input type="text" name="value" id="" placeholder="username or email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="6+ characters" />
    <input type="submit" value="continue" />
  </form>
  <div class="forgot">
    <h3>Forgot password?</h3>
    <a href="/reset">Reset Password.</a>
  </div>
</div>
<%- include('../partials/foot') -%>
