<%- include('../partials/head') -%>

<div class="container-form">
  <div class="heading">
    <h1>Sign up to Waaw Tube.</h1>
  </div>

  <!-- <div class="social-login">
    <input type="button" value="sign up with facebook" />
    <input type="button" value="sign up with google" />
  </div>
  <div class="line">
    <div class="line-1"></div>
    <h3>Or</h3>
    <div class="line-2"></div>
  </div> -->
  <%- include('../partials/messages') -%>

  <form action="/auth/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" id="usernam" placeholder="name@gmail.com" required />
    <label for="email">Email</label>
    <input type="email" name="email" id="" placeholder="name@gmail.com" required />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="6+ characters" required />
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="6+ characters" required />

    <input type="submit" value="continue" />
  </form>
  <div class="forgot">
    <h3>Already registered?</h3>
    <a href="/auth/login">Login</a>
  </div>
</div>
<%- include('../partials/foot') -%>
