<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header_signup">
        <div class="header_signup_text">
            <h2>waaw social media</h2>
        </div>
        <form action="/user/search" method="post">
            <input type="search" name="value" id="" placeholder="Search for a username or email">
            <button type="submit" class="btn-search">Go</button>
        </form>
    </div>
    <div class="container-verify-account">
        <div class="flashmessages">
            <%- include('../messages') -%>
        </div>
        <h1>Verify your account</h1>
        <form action="/auth/verify-account" method="post">
            <input type="text" name="token" id="" placeholder="Enter your token">
            <button type="submit" class="verify-button">Verify your account</Account</button>
        </form>
    </div>

</body>

</html>