    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }
    /* Style for the sign up page */
    
    .header_signup {
        display: flex;
        width: 100vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #FF735C;
        height: 44px;
        z-index: 1;
        padding-left: 5px;
    }
    
    .header_signup_text h2 {
        color: #FFFFFF;
        font-size: 20px;
    }
    
    .fa-google {
        padding-right: 10px;
    }
    
    input:focus {
        outline: none;
    }
    
    input {
        border: 1px solid #3e5c48;
    }
    
    .signup-icons a {
        margin-left: 40px;
        font-size: 20px;
        text-align: center;
        border-radius: 5px;
        padding: 8px 8px;
        cursor: pointer;
        color: #FFFFFF;
        text-decoration: none;
        background: #FF735C;
    }
    
    .signup-icons a:hover {
        background: #FFFFFF;
        color: #FF735C;
        border: 1px solid #FF735C;
    }
    
    .header_signup form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
    }
    
    .header_signup form input {
        width: 350px;
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        height: 36px;
        margin-right: 3px;
        padding: 0 4px;
    }
    
    .header_signup form button {
        background: #FFFFFF;
        color: #FF735C;
        height: 36px;
        width: 100px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    
    .btn-search:hover {
        background: #FF735C;
        color: #FFFFFF;
        border: 1px solid #F2F2F2;
    }
    
    .container_signup {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 70%;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 120px;
    }
    
    .signup_form {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .signup_form a {
        text-decoration: none;
        color: #FF735C;
    }
    
    .signup_form a:hover {
        text-decoration: underline;
        color: #FF735C;
    }
    
    .line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        justify-content: center;
        margin: 20px 0;
    }
    
    .line-1,
    .line-2 {
        border-top: 1px solid #F2F2F2;
        width: 120px;
        margin: 0 15px;
    }
    
    .signup_form form {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    
    .signup_form h1 {
        color: #FF735C;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 56px;
        padding: 6px;
    }
    
    .signup_form form input {
        width: 100%;
        height: 40px;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        margin-bottom: 16px;
        padding: 0 8px;
    }
    
    form label {
        font-size: 16px;
    }
    
     ::placeholder {
        color: #978F8F;
        font-size: 16px;
        padding-left: 4px;
    }
    
    .form-button {
        display: flex;
        flex-direction: row;
    }
    
    .form-button button {
        background: #FF735C;
        width: 80%;
        height: 36px;
        outline: none;
        border-radius: 5px;
        border: none;
        color: #FFFFFF;
        margin: 10px;
    }
    
    .form-button button:hover {
        background: rgb(238, 84, 84);
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }
    
    .form-button button:nth-of-type(2) {
        background: #FFFFFF;
        border: 1px solid #FF735C;
        color: #FF735C;
    }
    
    form button:nth-of-type(2):hover {
        background: #FF735C;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
    
    .signup_image {
        background: url(/images/signupimage.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 160%;
        height: 100%;
        z-index: 0;
    }
    
    .signup_image img {
        width: 200%;
    }
    
    @media screen and (max-width:768px) {
        /* .signup_image {
        display: none;
    } */
        .container_signup {
            flex-direction: column;
            width: 30%;
            justify-content: flex-start;
            margin-left: auto;
        }
        /* .header_signup_text {
        display: none;
    } */
        .header_signup {
            justify-content: center;
        }
        .header_signup form {
            width: 80%;
        }
        .header_signup form input {
            width: 250px;
        }
        .signup_form {
            width: 250%;
        }
        .signup-icons {
            width: 60%;
        }
        .signup_form form input {
            width: 100%;
        }
        .form-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
        form button {
            margin: 10px;
            width: 100%;
        }
        .line {
            width: 100%;
        }
    }
    
    @media screen and (max-width:1000px) {
        .signup_image {
            height: 80%;
            width: 160%;
        }
        .container_signup {
            flex-direction: row;
            width: 100%;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .header_signup_text {
            display: none;
        }
        .header_signup {
            justify-content: center;
        }
        .header_signup form {
            width: 80%;
        }
        .header_signup form input {
            width: 250px;
        }
        .signup_form {
            width: 150%;
        }
        .signup_form form {
            width: 50%;
            margin-top: 20px;
        }
        .signup-icons {
            width: 60%;
        }
        .signup_form form input {
            width: 100%;
            padding-right: 5px;
        }
        .form-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        form button {
            margin: 10px;
            width: 120px;
        }
        .line {
            width: 100%;
        }
        .line-1 h3 {
            font-size: 1em;
        }
        /*  */
    }
    
    @media screen and (max-width:500px) {
        .form-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .header_signup form input {
            width: 100%;
        }
        /* .signup_form h1 {
        font-size: 18px;
    } */
        .header_signup {
            background: none;
            width: 100%;
            padding: 10px;
        }
        .btn-search {
            width: 10%;
            background: #FF735C;
            color: #FFFFFF;
            border: 1px solid #FF735C;
        }
        .btn-search:hover {
            background: #FFFFFF;
            color: #FF735C;
            border: 1px solid #FF735C;
        }
        .container_signup {
            width: 50%;
        }
        .signup_form h1 {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
        }
        .line {
            width: 50%;
        }
    }
    
    @media screen and (max-width:768px) {
         ::placeholder {
            font-size: 1em;
        }
        input {
            padding-right: 8px;
        }
    }
    /* Verify Token Page Styles */
    
    .container-verify-account {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 600px;
        position: absolute;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        /* padding: 0 20px 0 10px; */
    }
    
    .container-verify-account h1 {
        color: #FF735C;
        padding: 0 40px;
        line-height: 30px;
        font-size: 30px;
        margin: 20px 0;
        text-align: center;
    }
    
    .container-verify-account form {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }
    
    .container-verify-account form label {
        align-self: center;
        width: 80%;
    }
    
    .container-verify-account form input {
        width: 80%;
        height: 36px;
        padding: 4px;
        border-radius: 5px;
        border: 1px solid #F2F2F2;
        margin-bottom: 30px;
        align-self: center;
    }
    
    .verify-button {
        padding: 15px 10px;
        background: #FF735C;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        width: 60%;
        align-self: center;
    }
    
    .verify-button:hover {
        background: rgb(238, 84, 84);
        color: #FFFFFF;
    }
    
    .login-container {
        /* margin-top: 40px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 80%;
    }
    
    .login-container h5 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .login-container button {
        background: #FFFFFF;
        border: 1px solid #FF735C;
        color: #FF735C;
    }
    
    @media screen and (max-width: 768px) {
        .container-verify-account {
            width: 80%;
            height: 80%;
        }
        .container-verify-account h1 {
            padding: 0 10px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
        }
        .container-verify-account form {
            width: 80%;
            margin-top: 20px;
        }
        .container-verify-account form input {
            width: 80%;
            height: 36px;
            padding: 4px;
            margin-bottom: 10px;
        }
        .container-verify-account form label {
            font-size: 14px;
        }
        .verify-button {
            padding: 12px 6px;
            font-size: 14px;
            width: 70%;
        }
    }
    
    @media screen and (max-width:1000px) {
        .verify-button {
            padding: 12px 6px;
            font-size: 18px;
            width: 70%;
        }
    }
    
    @media screen and (max-width:500px) {
        .verify-button {
            padding: 12px 6px;
            font-size: 12px;
            width: 70%;
        }
    }
    /* Flash messages styles */
    
    .alert-danger {
        width: 80%;
        background: #f7d7da;
        color: #A20A0A;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        border-radius: 5px;
    }
    
    .alert-success {
        width: 80%;
        background: #d4edda;
        color: #3e5c48;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
        border-radius: 5px;
    }
    
    #alert span {
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
    }
    /* User profile styles */
    
    .profile-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #FF735C;
        width: 100vw;
        height: 40px;
        padding: 5px 0;
        color: #FFFFFF;
    }
    
    .profile-header h4 {
        padding-left: 8px;
    }
    
    .profile-user {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 8px;
    }
    
    .profile-user img {
        width: 10%;
        border-radius: 100%;
        padding: 10px;
    }
    
    .profile-post {
        margin-top: 150px;
        width: 40%;
        background: #FFFFFF;
        border-radius: 5px;
        box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.6);
        height: 100px;
        padding: 10px;
        /* z-index: 1; */
        display: block;
        margin-bottom: 100px;
    }
    
    .postarea {
        background: #FF735C;
        border-radius: 50px;
        width: 100%;
        height: 60px;
        color: #FFFFFF;
        padding: 18px 20px;
        /* margin: 100px 0; */
    }
    
    textarea {
        resize: none;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
    }
    
    textarea:focus {
        outline: none;
    }
    
    .post-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
    }
    /* .card {
    border:none;
} */
    /* .card-body {
    background: #C4C4C4;
} */
    
    .card-like-comment {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        align-content: center;
    }
    
    .navbar {
        background: #FF735C !important;
        color: #FFFFFF;
        padding-left: 4px;
    }
    
    .navbar-nav {
        margin-left: auto !important;
    }
    
    .navbar a {
        color: #FFFFFF !important;
    }
    
    .aligned {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .likes-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .likes-comments a {
        color: #FF735C;
    }
    
    .likes-comments a:hover {
        color: #fc5b42;
    }
    
    @media screen and (max-width:1000px) {
        .profile-post {
            width: 60%;
        }
    }
    
    .hidemodal {
        display: none;
        width: 50%;
        height: 10%;
    }
    
    .showmodal {
        display: flex;
        width: 100%;
        height: 5%;
        /* border: 1px solid #978F8F; */
        justify-content: center;
        padding: 10px 10px;
        border-radius: 5px;
    }
    /* STYLING FOR ERROR PAGE */
    
    .error h1 {
        text-align: center;
    }
    /* STYLING FOR ERROR PAGE END*/
    /* STYLING FOR LOGIN PAGE */
    /* STYLING FOR LOGIN PAGE */
    
    .login-container {
        margin-top: 40px auto;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .login-content {
        /* max-width: 900px; */
        margin-top: 100px;
        padding: 60px 70px;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .login-content a {
        padding: 5px;
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
        background: #FF735C;
        color: #FFFFFF;
        text-decoration: none;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    
    .login-content a:hover {
        color: #FF735C;
        background: #FFFFFF;
        border: 1px solid #FF735C;
    }
    
    .login-content h1 {
        text-align: center;
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 1em;
        color: #FF735C;
    }
    
    .login-content p {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .login-content .inputBox {
        position: relative;
        margin-bottom: 20px;
    }
    
    .login-content .inputBox label {
        color: #111;
        font-weight: bold;
    }
    
    .login-content .inputBox input {
        width: 100%;
        border: 1px solid #555;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 5px 5px 5px 5px;
    }
    
    .login-content .inputBox input::placeholder {
        color: rgb(179, 176, 176);
    }
    
    .login-content>button {
        font-size: 1em;
        color: #fff;
        width: 100%;
        background: #cc1010;
        display: inline-block;
        letter-spacing: 2px;
        transition: 0.5s;
        font-weight: 500;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px;
    }
    
    .login-content .button:hover {
        color: #fff;
        background: #130606;
    }
    
    .signinButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .signinButton button {
        background: #FF735C;
        color: #FFFFFF;
        border: none;
        padding: 0.5em 2em;
        border-radius: 5px 5px 5px 5px;
    }
    
    .signinButton button:hover {
        cursor: pointer;
        background-color: #FFFFFF;
        color: #FF735C;
        border: 2px solid #FF735C;
    }
    
    .forgot {
        width: 100%;
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .forgot .forgot-content {
        max-width: 900px;
        padding: 60px 70px;
    }
    
    .forgot h5 {
        margin-top: 2.5em;
    }
    
    .forgot h5 a {
        text-decoration: none;
        color: #FF735C;
    }
    
    .forgot h5 a:hover {
        border-bottom: 1px solid #FF735C;
    }
    
    .forgot button {
        color: #FF735C;
        background-color: #FFFFFF;
        margin-top: 0.5em;
        border: 1px solid #FF735C;
        padding: 0.5em 2em;
        border-radius: 5px 5px 5px 5px;
    }
    
     ::placeholder {
        color: gray;
    }
    
    .forgot button:hover {
        cursor: pointer;
        background-color: #FF735C;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }
    /* STYLING FOR LOGIN PAGE END */
    /***** Reset password styles ******/
    
    .reset_form {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .reset_form form {
        padding: 60px 70px;
        border: 1px solid black;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    
    .reset_form h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 64px;
        color: #FF735C;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .reset_form .inputBox input {
        position: relative;
        width: 100%;
        height: 40px;
        border: 1px solid #555;
        color: #111;
        outline: none;
        margin-top: 10px;
    }
    
    .resetBotton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    button[type="submit"] {
        padding: 0.5em 2em;
        border-radius: 5px 5px 5px 5px;
        background-color: #FF735C;
        color: #ffffff;
        border: none;
    }
    
    .reset_form input {
        width: 370px;
        height: 50px;
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        margin-bottom: 20px;
        /* margin-top: 20px; */
    }
    
    form label {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .form placeholder {
        color: #978F8F;
        font-size: 20px;
        padding-left: 16px;
    }
    /* Post Card */
    
    .navbar-text {
        text-decoration: none;
        cursor: pointer;
    }
    
    .navbar-text:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .hidelinks {
        visibility: hidden;
    }
    
    .post__form {
        display: grid;
        grid-template-areas: 'flash flash flash flash''form form form form' 'postcard postcard postcard postcard' 'post post post post';
        grid-gap: 10px;
        padding: 10px;
        width: 50vw;
        margin: 40px auto;
    }
    
    .post__form>div {
        padding: 15px;
    }
    
    .post__form .form {
        grid-area: form;
        display: flex;
        flex-direction: column;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        background: #FFFFFF;
    }
    
    .form button:hover {
        background: #ee4a31;
    }
    
    .hideBox {
        display: none;
    }
    
    .showBox {
        display: flex;
        flex-direction: column;
    }
    
    .text-icon-form {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .text-icon-form img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    
    .icons-form {
        color: #FF735C;
        cursor: pointer;
        font-size: 36px;
    }
    
    .icons-form:hover {
        color: #e23015;
        cursor: pointer;
    }
    
    .postcard {
        grid-area: postcard;
        display: flex;
        flex-direction: column;
    }
    
    .post__form .post {
        margin-top: 20px;
        grid-area: post;
        border: 1px solid blue;
        display: grid;
        grid-template-areas: 'username-circle username username username' 'text text text text' 'post__likes post__likes post__comments post__comments' 'comment-form comment-form comment-form comment-form' 'commentarea commentarea commentarea commentarea';
        align-items: center;
        position: relative;
        border: 2px solid #F9F9F9;
        box-shadow: 1px 1px 2px 1px #88888877;
        border-radius: 10px;
        /* margin-bottom: 10px; */
        padding: 10px;
    }
    
    .username-circle {
        grid-area: username-circle;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        background: #978F8F;
        color: #130606;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    .username-circle img {
        height: 50px;
        width: 50px;
        border-radius: 100%
    }
    
    .username-time {
        grid-area: username;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: relative;
        right: 70px;
    }
    
    .username-time span {
        /* margin-top: 25px;
    top: 20px; */
        /* right: 33%; */
        /* left: 60%; */
        font-size: 14px;
        color: #978F8F;
    }
    
    .text {
        grid-area: text;
        margin: 16px 0;
        line-height: 24px;
    }
    
    .commentarea {
        grid-area: commentarea;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    
    .commentarea hr {
        border: 1px solid #F9F9F9;
    }
    
    .commentbody {
        grid-area: commentbody;
    }
    
    .commenttimestamps {
        grid-area: commenttimestamps;
    }
    
    .post__likes {
        grid-area: post__likes;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FF735C;
        margin-right: 50px;
    }
    
    .post__likes a {
        color: #FF735C;
        cursor: pointer;
    }
    
    .post__comments span {
        color: #FF735C;
        cursor: pointer;
    }
    
    .post__comments {
        grid-area: post__comments;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        color: #FF735C;
    }
    
    .comment-form {
        grid-area: comment-form;
        margin: 8px 0;
    }
    
    .comment-form input {
        width: 85%;
        height: 36px;
        padding-left: 8px;
        border: 1px solid #E6E6E6;
        border-radius: 50px;
    }
    
    .comment-form button {
        background: none;
        color: #FF735C;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        top: 5px;
    }
    
    .comment-form button:hover {
        color: #ee4a31;
        cursor: pointer;
    }
    
    @media screen and (max-width: 768px) {
        .post__form {
            width: 100%;
        }
        .hidelike {
            display: none;
        }
        .username-time {
            right: 60px;
        }
        .username-circle {
            display: none;
        }
    }
    /* .reset_form .inputBox label {
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #555;
    color: #111;
    outline: none;
} */
    
    .emailInput {
        margin-bottom: 25px;
        margin-top: 15px;
    }
    
    .button-forgot-password {
        padding: 0.8rem 2rem;
        border-radius: 5px 5px 5px 5px;
        background-color: #FF735C;
        color: #fff;
        border: none;
        line-height: 2;
        font-weight: bold;
    }
    
    .button-forgot-password:hover {
        cursor: pointer;
        background-color: #fff;
        color: #FF735C;
        border: 2px solid #FF735C;
    }
    
    .flashmessages {
        /* position: fixed;
    top: 60px; */
        width: 30vw;
        height: 10vh;
        grid-area: flash;
    }
    
    @media screen and (max-width:1340px) {
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 80%;
            top: 172px;
        }
    }
    
    @media screen and (max-width:1000px) {
        .navbar-text {
            display: block;
        }
        .hidelinks {
            display: none;
        }
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 80%;
            top: 163px;
        }
    }
    
    @media screen and (max-width:900px) {
        .navbar-text {
            display: block;
        }
        .hidelinks {
            display: none;
        }
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 75%;
            top: 158px;
        }
    }
    
    @media screen and (max-width:768px) {
        .navbar-text {
            display: block;
        }
        .hidelinks {
            display: none;
        }
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 75%;
            top: 158px;
        }
    }
    
    @media screen and (max-width:450px) {
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 70%;
            top: 70%;
        }
        .navbar-text {
            display: block;
        }
        .hidelinks {
            display: none;
        }
    }
    
    @media screen and (max-width:500px) {
        .comment-form button {
            /* bottom: 80%; */
            position: absolute;
            left: 70%;
            top: 70%;
        }
    }
    
    .postsearch form {
        display: flex;
        flex-direction: row;
    }
    
    .postsearch input {
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        padding: 0 6px;
        width: 100%;
    }