<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/49c0517b17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container-all">
        <div class="header_signup">
            <div class="header_signup_text">


                <h2>waaw social media</h2>
            </div>
            <!-- <form action="/user/search" method="post">
                <input type="search" name="value" id="" placeholder="Search for a username or email">
                <button type="submit" class="btn-search">Go</button>
            </form> -->
        </div>

        <div class="container_signup">
            <div class="flashmessages" style="position: absolute; bottom:480px; z-index: 1;">
                <%- include('../messages') -%>
            </div>
            <div class="signup_form">

                <h1>Create a new account</h1>

                <a href="/auth/google"><span><i class="fab fa-google"></i>Sign in with Google</span></a>

                <div class="line">
                    <div class="line-1"></div>
                    <h5>Or</h5>
                    <div class="line-2"></div>
                </div>
                <form action="/auth/register" method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" maxlength="15" placeholder="Type your username(maximum of 15)" required>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="" placeholder="Example: name@gmail.com" required>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="6+ characters" required>
                    <div class="form-button">
                        <button type="submit" class="">Sign up</button>
                        <button type="button" onclick="window.location.href='/auth/login'" class="">Sign in</button>
                    </div>
                </form>
            </div>
            <div class="signup_image"></div>
        </div>
    </div>
    </div>
</body>

</html>